* {
  font-family: poppins, sans-serif;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header .nav {
  position: fixed;
  width: 100%;
}
header ul {
  justify-content: flex-end;
  gap: 20px;
  display: flex;
  flex-direction: row;
}
header li {
  list-style: none;
}
header .hamburgerMenu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
header .hamburgerMenu span {
  background-color: black;
  width: 30px;
  height: 4px;
  margin: 5px 0;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .nav .nav__list.show {
    display: none;
  }
  .nav .hamburgerMenu {
    display: flex;
  }
}
main {
  flex: 1;
}

nav {
  padding: 5px;
  display: flex;
  justify-content: flex-end;
  border: 2px solid red;
}
nav .hamburgerMenu {
  padding: 5px;
  border: 2px solid black;
}

.shrink {
  transform: scaleY(0.8);
}

footer {
  display: flex;
  justify-content: center;
  background-color: rgb(52, 152, 219);
}