
*{
    font-family: poppins, sans-serif;
    margin: 0;
    padding: 0;
}

 @import "../utils/mixins";
 @import "../utils/variables";
 @import"../blocks/footer";
 @import"../blocks/header";

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



.bio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    img{
        width: 95vw;
        height: auto;
    }
    article{
        width: 95vw;
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: grayscale(50%) contrast(120%);
        p,h1,button{
            padding: 10px;
        }
    }
    button{
        cursor: pointer;
    }
}

.bio__div--backdropfilter{
    backdrop-filter: blur(50px) ;
    background-color: $secondary;
}

.bio__p--text{
    height: 250px;
    text-align: justify;
}

main{
    flex: 1;
    display: flex;
    @include flex-center;
    img{
        width: 95vw;
        height: auto;
    }
}



.shrink{
    transform: scaleY(0.8);
}

