* {
  font-family: poppins, sans-serif;
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  justify-content: center;
  background-color: rgb(52, 152, 219);
}

.header {
  background: rgb(52, 152, 219);
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: flex-end;
}
.header ul {
  justify-content: flex-end;
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}
.header li {
  list-style: none;
  cursor: pointer;
}
.header .hamburgerMenu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 5px;
  border: 2px solid black;
}
.header .hamburgerMenu span {
  background-color: black;
  width: 30px;
  height: 4px;
  margin: 3px 0;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .nav {
    display: flex;
  }
  .nav .nav__list {
    display: none;
  }
  .nav .show {
    display: flex;
  }
  .nav .hamburgerMenu {
    display: flex;
    margin-right: 20px;
  }
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.bio img {
  width: 95vw;
  height: auto;
}
.bio article {
  width: 95vw;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: grayscale(50%) contrast(120%);
          backdrop-filter: grayscale(50%) contrast(120%);
}
.bio article p, .bio article h1, .bio article button {
  padding: 10px;
}
.bio button {
  cursor: pointer;
}

.bio__div--backdropfilter {
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  background-color: rgb(46, 204, 113);
}

.bio__p--text {
  height: 250px;
  text-align: justify;
}

main {
  flex: 1;
  display: flex;
  display: flex;
  justify-content: center;
}
main img {
  width: 95vw;
  height: auto;
}

.shrink {
  transform: scaleY(0.8);
}