<!DOCTYPE html>
        <ul class="nav__list">
            <li class="projects nav__item"><a href="../index.html">Projects</a></li>
            <li class="skills nav__item"><a href="../skills.html">Skills</a></li>
            <li class="resume nav__item"><a href="../resume.html">Resume</a></li>
            <li class="contact nav__item"><a href="../contact.html">Contact</a></li>
        </ul>
        
        <div class="hamburgerMenu" id="hamburgerMenu">
            <span></span>
            <span></span>
            <span></span>
        </div>        
