@use "../utils/mixins" as *;
@use "../utils/variables" as *;


.bio{
    button{
        cursor: pointer;
        padding: 10px;
    }

    &__button--bright{
        background-color: white;
        color: black;
    }

    &__button--dark{
        background-color: black;
        color: white;
    }
    
}



main{
    button{
        background-color: $accentprimary;
        padding: 5px;
        cursor: pointer;
    }
}

form{
    button{
        padding: 10px;
        color: white;
    }
}