.bio button {
  cursor: pointer;
  padding: 10px;
}
.bio__button--bright {
  background-color: white;
  color: black;
}
.bio__button--dark {
  background-color: black;
  color: white;
}

main button {
  background-color: #332E2E;
  padding: 5px;
  cursor: pointer;
}

form button {
  padding: 10px;
  color: white;
}