@use "../utils/mixins" as *;
@use "../utils/variables" as *;


button:focus{
    outline: 2px solid $accent3rd;
}


.bio{
    button{
        cursor: pointer;
        padding: 10px;
        transition: 0.3s ease-in-out;
    }

    button:hover{
        background-color: $accent3rd;
    }

    &__button--bright{
        background-color: white;
        color: black;
    }

    &__button--dark{
        background-color: black;
        color: white;
    }
    
    &__button--dark:hover{
        color: black;
    }
}



main{
    button{
        background-color: $accentprimary;
        padding: 5px;
        cursor: pointer;
        color: white;
        transition: 0.3s ease-in-out;
    }

    button:hover{
        background-color: $accent3rd;
        color: black;
    }


}

form{
    button{
        padding: 10px;
        color: white;
    }
}