h1 {
  margin: 20px;
}

.cdiv {
  display: flex;
  align-items: center;
  animation: rotat 2s ease-in;
  border: 5px solid green;
}

textarea {
  text-align: center;
  resize: none;
}

form {
  display: flex;
  animation: topdown 2s ease-in;
  flex-direction: column;
}

label {
  width: 100%;
}
label input {
  background-color: white;
  opacity: 0.5;
}

textarea {
  display: block;
  background-color: white;
  opacity: 0.5;
}

@keyframes topdown {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rotat {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}