* {
  font-family: poppins, sans-serif;
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  justify-content: center;
  background-color: rgb(52, 152, 219);
}

.header {
  background: rgb(52, 152, 219);
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: flex-end;
  z-index: 1000;
}
.header ul {
  justify-content: flex-end;
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}
.header li {
  list-style: none;
  cursor: pointer;
}
.header .hamburgerMenu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 5px;
  border: 2px solid black;
}
.header .hamburgerMenu span {
  background-color: black;
  width: 30px;
  height: 4px;
  margin: 3px 0;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .nav {
    display: flex;
  }
  .nav .nav__list {
    display: none;
  }
  .nav .show {
    display: flex;
  }
  .nav .hamburgerMenu {
    display: flex;
    margin-right: 20px;
  }
}
h2 {
  font-size: 1.5rem;
}

h1 {
  font-size: 2rem;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
.bio .bio__img--profile {
  max-width: 450px;
}
.bio article {
  width: 450px;
  height: 450px;
  background-image: url("https://sheydom.github.io/Portfolio-Site/assets/IMG_2782.JPG"), url("/assets/IMG_2782.JPG");
  background-size: cover;
}
.bio article p, .bio article h1, .bio article button {
  padding: 10px;
}
.bio button {
  cursor: pointer;
}

.bio__div--backdropfilter {
  backdrop-filter: brightness(160%) blur(10px);
  text-align: center;
  margin: 0;
  padding: 0%;
}

.bio__p--justify {
  height: 250px;
  text-align: justify;
}

@media (min-width: 768px) {
  .bio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
  }
  .bio__img--profile {
    height: 450px;
    width: 450px;
    object-fit: cover;
  }
}
main {
  flex: 1;
  display: flex;
  display: flex;
  justify-content: center;
}
main img {
  width: 450px;
  height: 450px;
  object-fit: cover;
}

.shrink {
  transform: scaleY(0.8);
}