
*{
    font-family: poppins, sans-serif;
    margin: 0;
    padding: 0;
}

 @import "../utils/mixins";
 @import "../utils/variables";
 @import"../blocks/footer";
 @import"../blocks/header";

h2{
    font-size: $h2size;
}

h1{
    font-size: $h1size;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}



.bio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    img{
        max-width: 450px;
        height: auto;
    }
    article{
        width: 450px;
        height: 450px;
        background-image: url(/src/assets/IMG_2782[1].JPG);
        // background-attachment:fixed;
        background-size:cover;

        p,h1,button{
            padding: 10px;
        }
    }
    button{
        cursor: pointer;
    }
}

.bio__div--backdropfilter{
    backdrop-filter: brightness(160%) blur(10px);
    text-align: center;
    
}

.bio__p--justify{
    height: 250px;
    text-align: justify;
}

main{
    flex: 1;
    display: flex;
    @include flex-center;
    img{
        width: 450px;
        height: 450px;
        object-fit: cover;
    }
}



.shrink{
    transform: scaleY(0.8);
}

