header {
  background: rgb(52, 152, 219);
  position: fixed;
  width: 100%;
  display: flex;
  height: auto;
  justify-content: flex-end;
}
header ul {
  justify-content: flex-end;
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}
header li {
  list-style: none;
  cursor: pointer;
}
header .hamburgerMenu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 5px;
  border: 2px solid black;
}
header .hamburgerMenu span {
  background-color: black;
  width: 30px;
  height: 4px;
  margin: 3px 0;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .nav {
    display: flex;
  }
  .nav .nav__list {
    display: none;
  }
  .nav .show {
    display: flex;
  }
  .nav .hamburgerMenu {
    display: flex;
    margin-right: 20px;
  }
}